
body {
    background-color: #f4f4f4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}


#main-title {
    color: #007bff;
    font-size: 36px;
}


.section-title {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
}


a:hover {
    color: red;
}

/* */
/* #main-content {
    float: left;
    width: 65%;
}
#sidebar {
    float: right;
    width: 30%;
} */

/*
/* .container {
    display: flex;
    width: 960px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#main-content {
    flex: 2;
    margin-right: 20px;
}
#sidebar {
    flex: 1;
} */